.App {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

@media only screen and (min-width: 781px) {
  body header {
    position: absolute !important;
    z-index: 2010;
  }
}

header {
  top: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  top: 0 !important;
  height: 76px !important;
}

header [class*="__middle"] {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  font-size: 1.3rem;
  min-height: 45px;
  padding: 5px 0;
  position: relative;
}

header [class^=header] {
  width: 100%;
}

.viewSearch {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  position: absolute !important;
  z-index: 2010;
}

.header_content {
  position: relative;
  z-index: 2010;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.header__middle {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background: #fff;
  font-size: 1.3rem;
  min-height: 45px;
  padding: 5px 0;
  position: relative;
  width: 100%;
  vertical-align: baseline;
}

.container_h {
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  max-width: 1480px;
  width: 95%;
  margin: auto;
}

@media only screen and (min-width: 761px) {
  .ad-container, .boxbannersFull, .breadcrumbF, .categboxes, .container, .landingNew, .mainSection, .metodosPago, .mod__producto, .sec__categorias .sec__Internas + h1, .sintillo, .sliderTiendasSection, .slidersDetalleProducto, .tabsLoMas, .wrapper > .sec__Wishlist {
    width: 95%;
    max-width: 100%;
  }
}

.container, .sec__categorias .sec__Internas + h1 {
  width: 100%;
  max-width: 1326px;
  margin: auto;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

header [class*="__middle"] .header__logo {
  text-decoration: none;
  color: #666;
  display: table;
  font-size: .95rem;
  font-weight: 300;
  height: 65px;
  margin-top: initial;
  position: relative;
  text-indent: -1000px;
  width: 200px;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

header [class*="__middle"] .header__logo:before {
  content: " ";
  float: left;
  height: 38px;
  margin-top: 14px;
  width: 100%;
  background-size: 100%;
}

@media only screen and (min-width: 781px) {
  body header .search {
    -webkit-transition: 1s;
    transition: 1s;
    max-width: 100% !important;
  }
}

.search {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 32px;
  min-width: 30%;
  max-width: 40%;
  width: 35%;
}

.search section {
  padding: 0 !important;
}

.cf:after, .changeData dl:after, .changePass dl:after, .forma_pago_contenedor2:after, .forma_pago_contenedor:after, header .subMenu:after, section:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 1280px) {
  header .menuPrincipal {
    z-index: 1200 !important;
  }
}

.menuPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-flex-pack: space-between;
  -ms-flex-pack: justify;
  color: #666;
  min-width: 280px;
  z-index: 120;
  width: 30%;
}

.search .contSearch {
  webkit-display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-box-direction: row;
  -ms-box-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-flex-pack: space-between;
  -ms-flex-pack: justify;
  width: 100%;
  border: 1px solid #DDD;
  border-radius: 50px;
  background: #eee;
  position: relative;
}

.menuPrincipal ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-direction: row;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-flex-pack: space-around;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
          align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  height: 50px;
  width: 100%;
}

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
}

.menuPrincipal li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  webkit-display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .8rem;
  text-align: center;
  margin-left: -1px;
  position: relative;
}

.header__logo {
  content: " ";
  background: url(https://www.sanborns.com.mx/css/vector/logo-sanborns.svg) no-repeat;
  float: left;
  height: 38px;
  margin-top: 14px;
  width: 160px;
  background-size: 100%;
  text-decoration: none;
  color: #666;
  display: table;
  font-size: .95rem;
  font-weight: 300;
  height: 65px;
  margin-top: initial;
  position: relative;
  text-indent: -1000px;
  width: 200px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 32px 0 8px !important;
  min-width: 30%;
  width: 60%;
  max-width: 100%;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  display: block;
}

.bt__search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #EB0028;
  width: 100%;
  min-width: 30px;
  max-width: 50px;
  height: 40px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  border: 1px solid #EB0028;
  font-size: 1rem;
  padding: 0 0 2px;
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0em;
  font: 400 11px system-ui;
  content: "";
  background: url(https://resources.sears.com.mx/medios-plazavip/swift/v1/Sears/assets/css/vector/icon-search.svg) center no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
/*# sourceMappingURL=header.css.map */